<h1>Here is the list!<h1> 

<p><% @contacts.each do |contact|%>
<a href="/contacts/<%=contact.id%>"><h2><%= contact.first_name %> <%= contact.last_name %></h2></a>
<h4><%=contact.email%></h4>
<h4><%=contact.phone_number %></h4> 

<%end%>

  